<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script>
      function checkAssetLoading() {
        console.log("Checking asset loading...");
        const scripts = document.getElementsByTagName('script');
        const styles = document.getElementsByTagName('link');
        for (let script of scripts) {
          console.log("Script src:", script.src);
        }
        for (let style of styles) {
          console.log("Stylesheet href:", style.href);
        }
      }
      window.addEventListener('load', checkAssetLoading);
    </script>
  </head>

  <body>
    <div id="root"></div>
    <%= yield %>
  </body>
</html>